@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderGlow {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0px rgba(167, 3, 142, 0.2);
  }
}

.animate-borderGlow {
  animation: borderGlow 3s infinite ease-in-out;
}


@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.neon-text {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

.neon-link {
  text-shadow:
    0 0 2px #fff,
    0 0 5px currentColor,
    0 0 10px currentColor;
  transition: all 0.3s ease-in-out;
}

.neon-link:hover {
  text-shadow:
    0 0 10px currentColor,
    0 0 20px currentColor,
    0 0 30px currentColor,
    0 0 40px currentColor;
}

